#
# pin constraints
#
NET GCLK LOC = "L15"  |  IOSTANDARD = "LVCMOS33";
NET RESET LOC = "T15"  |  IOSTANDARD = "LVCMOS33"  |  TIG;
#
# additional constraints
#

NET "GCLK" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100000 kHz;

# so that the UART peripheral knows which pins to use for RX and TX
net axi_uartlite_0_RX_pin LOC=A16 | IOSTANDARD = LVCMOS33;
net axi_uartlite_0_TX_pin LOC=B16 | IOSTANDARD = LVCMOS33;

# LED connections
net led_peripheral_0_LED_pin(7) LOC=N12 | IOSTANDARD = LVCMOS33;
net led_peripheral_0_LED_pin(6) LOC=P16 | IOSTANDARD = LVCMOS33;
net led_peripheral_0_LED_pin(5) LOC=D4  | IOSTANDARD = LVCMOS33;
net led_peripheral_0_LED_pin(4) LOC=M13 | IOSTANDARD = LVCMOS33;
net led_peripheral_0_LED_pin(3) LOC=L14 | IOSTANDARD = LVCMOS33;
net led_peripheral_0_LED_pin(2) LOC=N14 | IOSTANDARD = LVCMOS33;
net led_peripheral_0_LED_pin(1) LOC=M14 | IOSTANDARD = LVCMOS33;
net led_peripheral_0_LED_pin(0) LOC=U18 | IOSTANDARD = LVCMOS33;